requests
pyyaml
playwright==1.28.0
sqlmap
black
loguru
beautifulsoup4~=4.11.2
colorama
rich
prompt-toolkit
google
pytest
openai~=0.27.8
langchain
langchain_core
langchain_community
sentence_transformers
faiss-cpu
tiktoken
pycookiecheat
tenacity
gpt4all==2.2.1.post1
pinecone-client
